.test {
    border: 1px black dotted;
    background-color: rgba(0, 0, 0, 0.05);
}

#property-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.property {
    display: flex;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
    margin-bottom: 25px;
}

.property-title {
    flex: 3;
    border-right: 1px black solid;
}

.property-description {
    flex: 2;
}

.description {
    border-bottom: 1px black solid;
}

.field {
    margin: 3px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hidden {
    display: none;
}

.error {
    color: red;
}

.toolbar > a {
    margin-right: 20px;
}

.toolbar > .active {
    font-weight: bold;
    box-shadow: 0 1px 1px black;
    color: blue;
}

.filter-container {
    float: right;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drop-down {
    border: 1px solid black;
    border-radius: 1px;
    list-style-type: none;
    position: absolute;
    margin:10px 8px 0 0;
    /*padding: 15px 10px 10px 15px;*/
    padding: 0;
    background: white;
    right: 0;
    box-shadow: 3px 3px 5px black;
}

.drop-down-entry {
    margin: 6px 0 6px 0;
}

.drop-down-entry > a {
    padding: 3px 15px 3px 15px;
}

#loader,
#loader:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
#loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(93,93,93, 0.2);
    border-right: 1.1em solid rgba(93,93,93, 0.2);
    border-bottom: 1.1em solid rgba(93,93,93, 0.2);
    border-left: 1.1em solid #5d5d5d;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#sales-container{
	width: 50%;
	float: left;
}

#agents-container{
	width: 50%;
	float: right;
}

#sale_title{
	margin-left: 12%;
}

.sale{
	padding: 2px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 75%;
	margin-left: 12%;
	margin-bottom: 5%;
	background-color: #e9e6ff;
}


.rank{
	padding:2px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
	margin-bottom: 5%;
	margin-right: 9%;
	background-color: #e9e6ff;
}




